doctype html
html
    head
        link(rel='stylesheet' href='/styles/custom.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900")
    body
        .py-4.text-center.text-white.bg-primary
                h1(style="font-family: 'Playfair Display', Georgia, 'Times New Roman', serif")="Textbooks"
        nav.navbar.bg-light.justify-content-center.mb-4.box-shadow.border-bottom(style="box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)")
            form#searchForm.form-inline.py-2
                input.form-control(type='search', placeholder="Search by keyword")
                small.mx-4.pt-1.text-muted.align-baseline="OR"
                select#departmentSelect.form-control.mr-sm-2(onload="test()")
                    option="--- Select Department ---"
                    each department in departments
                        - var departmentName = department.department
                        if departmentName.length > 30 
                            option(data-id=department.department_id)=departmentName.substring(0, 30 -3)+"..."
                        else
                            option(data-id=department.department_id)=departmentName
                select#courseSelect.form-control.mr-sm-4
                button.btn.btn-outline-primary(type='submit')="Search"
        .container
            .row
                .col-md-9.pr-4
                    block content
                .col-md-3.bg-light.p-4
                    form
                        input.form-control.mb-2(type="email", placeholder="Email")   
                        input.form-control.mb-2(type="password", placeholder="Password")
                        button.btn.w-100(type='submit')="Login / Signup"
        script.
            function test() {
                alert("Test");
            }       
script(src="/scripts/functions.js")

            
                               
            